infra/n8n/workflows/03-gym-test-fitness.json
{
  "name": "Gym Test - Fitness",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gym-test-fitness",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b0000003-0001-0001-0001-000000000003",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gym-test-fitness"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { startMs: Date.now(), startTime: new Date().toISOString() } }];"
      },
      "id": "b0000003-0002-0002-0002-000000000003",
      "name": "Start Timer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://fitness-service:3002/health",
        "options": {
          "timeout": 5000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "b0000003-0003-0003-0003-000000000003",
      "name": "Check Fitness Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://fitness-service:3002/exercises?limit=1",
        "options": {
          "timeout": 5000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "b0000003-0004-0004-0004-000000000003",
      "name": "Check Exercises Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 420],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const startMs = $('Start Timer').first().json.startMs;\nconst checks = [];\nlet allPassed = true;\n\ntry {\n  const r = $('Check Fitness Service').first().json;\n  const ok = !!(r?.status === 'ok' || r?.status === 'healthy' || r?.uptime);\n  if (!ok) allPassed = false;\n  checks.push({ name: 'fitness-service', ok, detail: r?.status ?? JSON.stringify(r).slice(0, 100) });\n} catch(e) {\n  allPassed = false;\n  checks.push({ name: 'fitness-service', ok: false, detail: e.message });\n}\n\ntry {\n  const r = $('Check Exercises Endpoint').first().json;\n  // exercises returns array or { data: [...] } — either is a valid response\n  const arr = Array.isArray(r) ? r : (Array.isArray(r?.data) ? r.data : null);\n  const ok = arr !== null;\n  if (!ok) allPassed = false;\n  checks.push({ name: 'exercises', ok, detail: ok ? `${arr.length} exercises returned` : (r?.error ?? 'unexpected shape') });\n} catch(e) {\n  allPassed = false;\n  checks.push({ name: 'exercises', ok: false, detail: e.message });\n}\n\nconst durationMs = Date.now() - startMs;\nreturn [{ json: {\n  passed: allPassed,\n  step: 'Fitness',\n  statusCode: allPassed ? 200 : 503,\n  details: checks.map(c => `${c.name}: ${c.ok ? 'OK' : 'FAIL'}`).join(' | '),\n  durationMs,\n  checks\n} }];"
      },
      "id": "b0000003-0005-0005-0005-000000000003",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "b0000003-0006-0006-0006-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Start Timer", "type": "main", "index": 0 }]]
    },
    "Start Timer": {
      "main": [[{ "node": "Check Fitness Service", "type": "main", "index": 0 }]]
    },
    "Check Fitness Service": {
      "main": [[{ "node": "Check Exercises Endpoint", "type": "main", "index": 0 }]]
    },
    "Check Exercises Endpoint": {
      "main": [[{ "node": "Build Result", "type": "main", "index": 0 }]]
    },
    "Build Result": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "tags": [{ "name": "e2e-test" }, { "name": "fitness" }, { "name": "sub-workflow" }],
  "_meta": {
    "description": "Sub-workflow: checks fitness-service /health and the public /exercises endpoint. Called by orchestrator via POST /webhook/gym-test-fitness.",
    "webhook_path": "gym-test-fitness",
    "checks": ["http://fitness-service:3002/health", "http://fitness-service:3002/exercises?limit=1"],
    "response_schema": {
      "passed": "boolean",
      "step": "Fitness",
      "statusCode": "200 | 503",
      "details": "string",
      "durationMs": "number",
      "checks": "array"
    }
  }
}
