infra/n8n/workflows/03-gym-test-fitness.json
{
  "name": "Gym Test - Fitness",
  "id": "8R53vcBVWbOhif6B",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gym-test-fitness",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b0000003-0001-0001-0001-000000000003",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gym-test-fitness"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { startMs: Date.now(), startTime: new Date().toISOString() } }];"
      },
      "id": "b0000003-0002-0002-0002-000000000003",
      "name": "Start Timer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://fitness-service:3002/health",
        "options": {
          "timeout": 5000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "b0000003-0003-0003-0003-000000000003",
      "name": "Check Fitness Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://fitness-service:3002/health",
        "options": {
          "timeout": 5000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "b0000003-0004-0004-0004-000000000003",
      "name": "Check Fitness API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 420],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const startMs = $('Start Timer').first().json.startMs;\nconst checks = [];\nlet allPassed = true;\n\ntry {\n  const r = $('Check Fitness Service').first().json;\n  const ok = !!(r?.status === 'ok' || r?.status === 'healthy' || r?.uptime);\n  if (!ok) allPassed = false;\n  checks.push({ name: 'fitness-service', ok, detail: r?.status ?? JSON.stringify(r).slice(0, 100) });\n} catch(e) {\n  allPassed = false;\n  checks.push({ name: 'fitness-service', ok: false, detail: e.message });\n}\n\ntry {\n  const r = $('Check Fitness API').first().json;\n  const payload = r?.body ?? r;\n  const ok = !!(payload?.status === 'ok' || payload?.status === 'healthy' || payload?.uptime);\n  if (!ok) allPassed = false;\n  checks.push({ name: 'fitness-api', ok, detail: payload?.status ?? JSON.stringify(payload).slice(0, 100) });\n} catch(e) {\n  allPassed = false;\n  checks.push({ name: 'fitness-api', ok: false, detail: e.message });\n}\n\nconst durationMs = Date.now() - startMs;\nreturn [{ json: {\n  passed: allPassed,\n  step: 'Fitness',\n  statusCode: allPassed ? 200 : 503,\n  details: checks.map(c => `${c.name}: ${c.ok ? 'OK' : 'FAIL'}`).join(' | '),\n  durationMs,\n  checks\n} }];"
      },
      "id": "b0000003-0005-0005-0005-000000000003",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Start Timer", "type": "main", "index": 0 }]]
    },
    "Start Timer": {
      "main": [[{ "node": "Check Fitness Service", "type": "main", "index": 0 }]]
    },
    "Check Fitness Service": {
      "main": [[{ "node": "Check Fitness API", "type": "main", "index": 0 }]]
    },
    "Check Fitness API": {
      "main": [[{ "node": "Build Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "_meta": {
    "description": "Sub-workflow: checks fitness-service /health endpoint twice (service and API reachability). Called by orchestrator via POST /webhook/gym-test-fitness.",
    "webhook_path": "gym-test-fitness",
    "checks": ["http://fitness-service:3002/health", "http://fitness-service:3002/health"],
    "response_schema": {
      "passed": "boolean",
      "step": "Fitness",
      "statusCode": "200 | 503",
      "details": "string",
      "durationMs": "number",
      "checks": "array"
    }
  }
}
