infra/n8n/workflows/04-gym-test-ai.json
{
  "name": "Gym Test - AI",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gym-test-ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b0000004-0001-0001-0001-000000000004",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gym-test-ai"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { startMs: Date.now(), startTime: new Date().toISOString() } }];"
      },
      "id": "b0000004-0002-0002-0002-000000000004",
      "name": "Start Timer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://ai-service:3003/health",
        "options": {
          "timeout": 8000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "b0000004-0003-0003-0003-000000000004",
      "name": "Check AI Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://qdrant:6333/health",
        "options": {
          "timeout": 5000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "b0000004-0004-0004-0004-000000000004",
      "name": "Check Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 420],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const startMs = $('Start Timer').first().json.startMs;\nconst checks = [];\nlet allPassed = true;\n\ntry {\n  const r = $('Check AI Service').first().json;\n  const ok = !!(r?.status === 'ok' || r?.status === 'healthy' || r?.uptime);\n  if (!ok) allPassed = false;\n  checks.push({ name: 'ai-service', ok, detail: r?.status ?? JSON.stringify(r).slice(0, 100) });\n} catch(e) {\n  allPassed = false;\n  checks.push({ name: 'ai-service', ok: false, detail: e.message });\n}\n\ntry {\n  const r = $('Check Qdrant').first().json;\n  // Qdrant returns { title: 'qdrant - vector search engine', version: '...' } or { result: 'ok' }\n  const ok = !!(r?.title || r?.result === 'ok' || r?.status === 'ok');\n  if (!ok) allPassed = false;\n  checks.push({ name: 'qdrant', ok, detail: r?.title ?? r?.result ?? JSON.stringify(r).slice(0, 100) });\n} catch(e) {\n  allPassed = false;\n  checks.push({ name: 'qdrant', ok: false, detail: e.message });\n}\n\nconst durationMs = Date.now() - startMs;\nreturn [{ json: {\n  passed: allPassed,\n  step: 'AI',\n  statusCode: allPassed ? 200 : 503,\n  details: checks.map(c => `${c.name}: ${c.ok ? 'OK' : 'FAIL'}`).join(' | '),\n  durationMs,\n  checks\n} }];"
      },
      "id": "b0000004-0005-0005-0005-000000000004",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "b0000004-0006-0006-0006-000000000004",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Start Timer", "type": "main", "index": 0 }]]
    },
    "Start Timer": {
      "main": [[{ "node": "Check AI Service", "type": "main", "index": 0 }]]
    },
    "Check AI Service": {
      "main": [[{ "node": "Check Qdrant", "type": "main", "index": 0 }]]
    },
    "Check Qdrant": {
      "main": [[{ "node": "Build Result", "type": "main", "index": 0 }]]
    },
    "Build Result": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "tags": [{ "name": "e2e-test" }, { "name": "ai" }, { "name": "sub-workflow" }],
  "_meta": {
    "description": "Sub-workflow: checks ai-service /health and Qdrant vector DB /health. Called by orchestrator via POST /webhook/gym-test-ai.",
    "webhook_path": "gym-test-ai",
    "checks": ["http://ai-service:3003/health", "http://qdrant:6333/health"],
    "note": "Qdrant health returns { title, version } not { status: 'ok' } — checked via title field.",
    "response_schema": {
      "passed": "boolean",
      "step": "AI",
      "statusCode": "200 | 503",
      "details": "string",
      "durationMs": "number",
      "checks": "array"
    }
  }
}
