infra/n8n/workflows/05-gym-test-pt-review.json
{
  "name": "Gym Test - PT Review",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gym-test-pt-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b0000005-0001-0001-0001-000000000005",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gym-test-pt-review"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { startMs: Date.now(), startTime: new Date().toISOString() } }];"
      },
      "id": "b0000005-0002-0002-0002-000000000005",
      "name": "Start Timer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://user-service:3004/health",
        "options": {
          "timeout": 5000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "b0000005-0003-0003-0003-000000000005",
      "name": "Check User Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api-gateway:3000/profile/pts",
        "options": {
          "timeout": 5000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "b0000005-0004-0004-0004-000000000005",
      "name": "Check PT Listing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 420],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const startMs = $('Start Timer').first().json.startMs;\nconst checks = [];\nlet allPassed = true;\n\ntry {\n  const r = $('Check User Service').first().json;\n  const ok = !!(r?.status === 'ok' || r?.status === 'healthy' || r?.uptime);\n  if (!ok) allPassed = false;\n  checks.push({ name: 'user-service', ok, detail: r?.status ?? JSON.stringify(r).slice(0, 100) });\n} catch(e) {\n  allPassed = false;\n  checks.push({ name: 'user-service', ok: false, detail: e.message });\n}\n\ntry {\n  const r = $('Check PT Listing').first().json;\n  // PT listing endpoint is public — expects array or { data: array }\n  const arr = Array.isArray(r) ? r : (Array.isArray(r?.data) ? r.data : null);\n  const ok = arr !== null;\n  if (!ok) allPassed = false;\n  const ptCount = ok ? arr.length : 0;\n  checks.push({ name: 'pt-listing', ok, detail: ok ? `${ptCount} PT(s) listed` : (r?.error ?? 'unexpected shape') });\n} catch(e) {\n  allPassed = false;\n  checks.push({ name: 'pt-listing', ok: false, detail: e.message });\n}\n\nconst durationMs = Date.now() - startMs;\nreturn [{ json: {\n  passed: allPassed,\n  step: 'PT Review',\n  statusCode: allPassed ? 200 : 503,\n  details: checks.map(c => `${c.name}: ${c.ok ? 'OK' : 'FAIL'}`).join(' | '),\n  durationMs,\n  checks\n} }];"
      },
      "id": "b0000005-0005-0005-0005-000000000005",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "b0000005-0006-0006-0006-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Start Timer", "type": "main", "index": 0 }]]
    },
    "Start Timer": {
      "main": [
        [{ "node": "Check User Service", "type": "main", "index": 0 }],
        [{ "node": "Check PT Listing", "type": "main", "index": 0 }]
      ]
    },
    "Check User Service": {
      "main": [[{ "node": "Build Result", "type": "main", "index": 0 }]]
    },
    "Check PT Listing": {
      "main": [[{ "node": "Build Result", "type": "main", "index": 0 }]]
    },
    "Build Result": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "tags": [{ "name": "e2e-test" }, { "name": "pt-review" }, { "name": "sub-workflow" }],
  "_meta": {
    "description": "Sub-workflow: checks user-service /health and the PT listing endpoint availability. Called by orchestrator via POST /webhook/gym-test-pt-review.",
    "webhook_path": "gym-test-pt-review",
    "checks": ["http://user-service:3004/health", "http://api-gateway:3000/profile/pts"],
    "response_schema": {
      "passed": "boolean",
      "step": "PT Review",
      "statusCode": "200 | 503",
      "details": "string",
      "durationMs": "number",
      "checks": "array"
    }
  }
}
