infra/n8n/workflows/smoke-test-ping.json
{
  "name": "Gym Coach - Smoke Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gym-smoke-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gym-smoke-test"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api-gateway:3000/health",
        "options": {
          "timeout": 5000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Ping Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ smokeTestPassed: true, gateway: $json, source: $('Webhook').item.json.body?.source ?? 'unknown', timestamp: new Date().toISOString() }) }}"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Ping Gateway", "type": "main", "index": 0 }]
      ]
    },
    "Ping Gateway": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "tags": [{ "name": "smoke-test" }, { "name": "admin" }],
  "_meta": {
    "description": "Admin smoke test workflow. Receives POST on /webhook/gym-smoke-test, pings the API Gateway /health endpoint, returns combined result.",
    "webhook_path": "gym-smoke-test",
    "internal_target": "http://api-gateway:3000/health",
    "setup_steps": [
      "1. In n8n Studio: File > Import workflow > select this file",
      "2. Activate the workflow (toggle to ON)",
      "3. In .env: N8N_SMOKE_TEST_WEBHOOK_URL=http://n8n:5678/webhook/gym-smoke-test",
      "4. docker-compose restart api-gateway",
      "5. In Admin Portal > Workflows > click 'Chay Smoke Test'"
    ]
  }
}
